@charset "UTF-8";
.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: Montserrat;
  display: flex;
  flex-direction: column; }

._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0px 15px; }

.page {
  flex: 1 1 auto; }

._ibg {
  position: relative; }

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.header__block {
  text-align: center; }

.header__block__title {
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: 142.5%;
  font-weight: 700;
  padding: 0px 0px 10px 0px; }

.header__block__text {
  font-weight: 500;
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 142.85714%;
  max-width: 511px;
  margin: 0px auto; }

@media (max-width: 992px) {
  .header__block__title {
    font-size: 35px; }
  .header__block__text {
    font-size: 12px; } }

@media (max-width: 767px) {
  .header__block__title {
    font-size: 30px; } }

body {
  font-weight: 500;
  color: #252B42;
  background: #FAFAFA; }

@media (max-width: 767px) {
  body.lock {
    overflow: hidden; } }

* {
  margin: 0px;
  padding: 0px;
  border: 0px; }

/* Указываем box sizing(указываем размер блока)*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Убираем линии обводки у некоторых браузеров*/
:focus, active {
  outline: none; }

a:focus, a:active {
  outline: none; }

/* Делаем основные теги блочными */
nav, footer, aside, header {
  display: block; }

/* Уравниваем поведение шрифтов чтобы небыло различие в разных браузерах */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/*наследование семейство шрифта, стандартного */
input,
button,
textarea {
  font-family: inherit; }

/*убираем особености дэбильные в разных браузерах */
input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }
  .header__container {
    display: flex;
    min-height: 104px;
    align-items: center; }
    @media (max-width: 467px) {
      .header__container {
        min-height: 70px; } }
  .header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 133.33333%;
    color: inherit; }

.header__menu {
  margin: 0px 0px 0px 133px; }

.header__menu__list {
  display: flex; }

.header__menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px; }

.header__menu__link {
  color: #737373;
  line-height: 171.42857%;
  font-weight: 600;
  transition: all 0.3s ease 0s; }

.header__menu__link:hover {
  color: #ffd700; }

.header__burger {
  display: none; }

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
    overflow: auto;
    top: -100%;
    z-index: 50;
    margin: 0px 0px 0px 0px;
    text-align: center;
    transition: all 0.3s ease 0s; }
  .header__container {
    justify-content: space-around; }
  .header__menu__list {
    display: block;
    padding: 70px 0px 0px 0px; }
  .header__menu__link {
    color: #000;
    font-size: 18px;
    font-weight: 800; }
  .header__menu__item:not(:last-child) {
    margin: 0px 0px 21px 0px; }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 50; }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    left: 0;
    top: 8px;
    transition: all 0.3s ease 0s; }
  .header__burger::after,
  .header__burger::before {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0s; }
  .header__burger::before {
    top: 0; }
  .header__burger::after {
    bottom: 0; }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 8px; }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px; }
  .header__burger.active span {
    display: none; }
  .header__menu.active {
    top: 0; } }

.main-block {
  position: relative; }
  .main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px; }
    @media (max-width: 992px) {
      .main-block__body {
        padding: 120px 0px 191px 0px; } }
  .main-block__body > *:not(:last-child) {
    margin: 0px 0px 35px 0px; }
  .main-block__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 137.93103%; }
    @media (max-width: 992px) {
      .main-block__title {
        font-size: 42px; } }
  .main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: 150%; }
    @media (max-width: 480px) {
      .main-block__text {
        color: #2e2a2a; } }
  .main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0px; }
  .main-block__button {
    background: #FF7B47;
    border-radius: 37px;
    min-height: 48px;
    padding: 5px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 0.2px;
    line-height: 200%;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin: 10px 0px; }
    @media (max-width: 480px) {
      .main-block__button {
        flex: 1 1 100%; } }
  .main-block__button:hover {
    background: #fc4700; }
  .main-block__button__transparent {
    background-color: transparent;
    border: 1px solid #0D5C63;
    color: #0D5C63; }
  .main-block__button__transparent:hover {
    background: #10b1c0; }
  @media (min-width: 480px) {
    .main-block__button:not(:last-child) {
      margin-right: 10px; } }
  .main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    @media (max-width: 992px) {
      .main-block__image {
        opacity: 0.6; } }
  @media (max-width: 1300px) {
    .main-block__image img {
      object-position: right; } }

.services {
  margin: -111px 0px 0px 0px;
  position: relative;
  z-index: 2; }
  @media (max-width: 992px) {
    .services {
      margin: 30px 0px 0px 0px; } }
  .services__body {
    display: flex;
    margin: 0px -15px -30px;
    flex-wrap: wrap; }
  .services__column {
    padding: 0px 15px;
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px; }
    @media (max-width: 992px) {
      .services__column {
        flex: 0 1 50%; } }
    @media (max-width: 575px) {
      .services__column {
        flex: 0 1 100%; } }
  .services__item {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px; }

.item-services__title {
  font-size: 24px;
  line-height: 133.33333%;
  letter-spacing: 0.1px;
  font-weight: 700; }

.item-services__text {
  color: #737373;
  letter-spacing: 0.2px;
  line-height: 142.85714%;
  font-weight: 500; }

.item-services > *:not(:last-child) {
  margin: 0px 0px 10px 0px; }

.item-services:hover {
  color: #fff;
  background: #0D5C63; }

.item-services:hover .item-services__text {
  color: #fff; }

.notebook__icon {
  width: 48px;
  height: 48px;
  fill: #0D5C63; }

.icon__shop {
  width: 48px;
  height: 48px;
  fill: #0D5C63; }

.tool-box {
  width: 48px;
  height: 48px;
  fill: #0D5C63; }

.item-services:hover .notebook__icon {
  fill: #fff; }

.item-services:hover .icon__shop {
  fill: #fff; }

.item-services:hover .tool-box {
  fill: #fff; }

@media (max-width: 992px) {
  .services__column:last-child {
    flex: 0 1 100%; } }

.advantages__header {
  margin: 106px 0px 50px 0px; }
  @media (max-width: 767px) {
    .advantages__header {
      margin: 106px 0px 0px 0px; } }

.advantages__body {
  display: flex;
  margin: 0px -15px;
  flex-wrap: wrap; }

.advantages__column {
  padding: 15px;
  flex: 0 1 25%; }
  @media (max-width: 1020px) {
    .advantages__column {
      flex: 0 1 50%; } }
  @media (max-width: 575px) {
    .advantages__column {
      flex: 0 1 100%; } }

.advantages__item {
  background-color: #fff;
  padding: 30px;
  text-align: center; }

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.advantages__value {
  font-size: 40px;
  line-height: 142.5%;
  font-weight: 700;
  margin: 10px 0px;
  letter-spacing: 0.2px; }

.advantages__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  font-weight: 700;
  max-width: 169px;
  margin: 0px auto; }

.practice {
  padding: 125px 80px; }
  @media (max-width: 420px) {
    .practice {
      padding: 125px 20px; } }
  .practice__header {
    margin: 0px 0px 45px 0px; }
  .practice__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px; }
    @media (max-width: 420px) {
      .practice__body {
        margin: 0px 0px; } }
  .practice__column {
    padding: 0px 20px;
    flex: 0 1 25%; }
    @media (max-width: 1040px) {
      .practice__column {
        flex: 0 1 50%;
        padding: 20px; } }
    @media (max-width: 590px) {
      .practice__column {
        flex: 0 1 100%;
        padding: 20px; } }
    @media (max-width: 420px) {
      .practice__column {
        padding: 20px 0px; } }
  .practice__item {
    background-color: #fff; }

.item__practice__link {
  display: inline-block; }

.item__practice__link:hover {
  text-decoration: underline; }

.item__practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px; }

.item__practice__title {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #252B42; }

.item__practice__text {
  padding: 15px 0px;
  color: #737373;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.85714%; }

.item__practice__image {
  display: block;
  padding: 0px 0px 69% 0px;
  transition: all 0.3s ease 0s; }

.item__practice__image:hover {
  opacity: 0.7; }

.item__practice__content {
  padding: 30px;
  flex: 1 1 100%; }

@media (max-width: 590px) {
  .item__practice__content {
    text-align: center; } }

.item__practice {
  display: flex;
  flex-direction: column;
  height: 100%; }

.page__whoweare {
  background: #FFFFFF; }

.whoweare {
  padding: 80px 0px 130px 0px; }
  @media (max-width: 950px) {
    .whoweare {
      padding: 50px 0px 50px 0px; } }
  .whoweare_title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142.5%;
    letter-spacing: 0.2px; }
    @media (max-width: 950px) {
      .whoweare_title {
        font-size: 24px; } }
  .whoweare_title:not(:last-child) {
    margin: 0px 0px 10px 0px; }
  .whoweare__body {
    display: flex;
    align-items: flex-start; }
    @media (max-width: 950px) {
      .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch; } }
  .whoweare__video {
    flex: 0 0 57.36138%;
    position: relative;
    padding: 0px 0px 42.25% 0px; }
    @media (max-width: 992px) {
      .whoweare__video {
        padding: 0px 0px 56% 0px; } }
    @media (max-width: 350px) {
      .whoweare__video {
        padding: 0px 0px 65% 0px; } }
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px; }
  .whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; }
  .whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px; }
    @media (max-width: 1080px) {
      .whoweare__content {
        padding: 0px 0px 0px 50px; } }
    @media (max-width: 420px) {
      .whoweare__content {
        padding: 0px 0px 0px 10px; } }
  .whoweare__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 142.85714%;
    color: #737373;
    letter-spacing: 0.2px; }
  .whoweare__items {
    padding: 50px 0px 0px 0px; }
  .whoweare__item {
    display: flex; }
  .whoweare__item:not(:last-child) {
    margin: 0px 0px 30px 0px; }

.practice__header {
  margin: 0px 0px 100px 0px; }
  @media (max-width: 950px) {
    .practice__header {
      margin: 0px 0px 30px 0px; } }

.item__whoweare__icon {
  flex: 0 0 32px; }

.item__whoweare__title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  font-weight: 800; }

.item__whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px; }

.item__whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.42857%;
  letter-spacing: 0.2px;
  color: #737373; }

.item-whoweare__content {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px; }

.clients {
  margin: 0px 0px 10px 0px; }
  .clients__list {
    margin: 70px 0px; }
    @media (max-width: 700px) {
      .clients__list {
        margin: 20px 0px 20px 0px; } }
  .clients__items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 870px) {
      .clients__items {
        flex-direction: column; } }
  .clients__item:not(:last-child) {
    margin: 0px 0px 75px 0px; }
  .clients__item:last-child {
    align-self: flex-start; }
    @media (max-width: 870px) {
      .clients__item:last-child {
        align-self: center; } }

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px; }
  .subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    background: #17213C;
    border-radius: 2px; }
    @media (min-width: 1070px) {
      .subscribe__body {
        margin: 0px 30px; } }
    @media (min-width: 810px) {
      .subscribe__body {
        display: flex;
        justify-content: space-between; } }
    @media (max-width: 810px) {
      .subscribe__body {
        margin: 0px -15px;
        padding: 20px 20px; } }
    @media (max-width: 370px) {
      .subscribe__body {
        padding: 20px 5px; } }
  .subscribe__title {
    flex: 0 1 50%;
    font-size: 24px;
    line-height: 133.33333%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    font-weight: 700; }
    @media (max-width: 810px) {
      .subscribe__title {
        margin: 0px 0px 20px 0px; } }
    @media (min-width: 810px) {
      .subscribe__title {
        max-width: 266px; } }
  .subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center; }
    @media (max-width: 370px) {
      .subscribe__form {
        flex: 0 1 250px; } }
  .subscribe__form:hover {
    border: 1px solid #ffd700;
    border-radius: 0px 5px 5px 0px; }
  .subscribe__input {
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0px 20px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    color: #737373; }
    @media (max-width: 370px) {
      .subscribe__input {
        width: 100%; } }
  .subscribe__input:focus {
    color: #000; }
  .subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #fff;
    padding: 0px 22px; }

.subscribe::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
  background: #252B42;
  z-index: 1; }

@media (max-width: 810px) {
  .subscribe::before {
    display: none; } }
