@import "default.scss";
@import "reset.scss";

.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;

   &__container{
      display: flex;
      min-height: 104px;
      align-items: center;
      @media (max-width:467px) {
         min-height: 70px;
      }
   }

   &__logo {
      font-weight: 700;
      font-size: 24px;
      line-height: 32/24 * 100%;
      color: inherit;
   } 
}

.header__menu {
   margin: 0px 0px 0px 133px;
}

.header__menu__list {
   display: flex;
}

.header__menu__item:not(:last-child) {
   margin: 0px 21px 0px 0px;
}

.header__menu__link {
   color: #737373;
   line-height: 24/14 * 100%;
   font-weight: 600;
   transition: all 0.3s ease 0s;
}

.header__menu__link:hover{
   color: #ffd700;
}

.header__burger{
   display: none;
}

@media (max-width:767px) {
   .header__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.8;
      overflow:auto;
      top: -100%;
      z-index: 50;
      margin: 0px 0px 0px 0px;
      text-align: center;
      transition: all 0.3s ease 0s;
   }

   .header__container{
      justify-content: space-around;
   }

   .header__menu__list {
      display: block;
      padding: 70px 0px 0px 0px;
   }

   .header__menu__link{
      color: #000 ;
      font-size: 18px;
      font-weight: 800;
   } 

   .header__menu__item:not(:last-child) {
      margin: 0px 0px 21px 0px;
   }

   .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 50;
   }

   .header__burger span{
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #000;
      left: 0;
      top:8px;
      transition: all 0.3s ease 0s;
   }

   .header__burger::after,
   .header__burger::before{
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 4px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before{
      top: 0;
   }
   .header__burger::after{
      bottom: 0;
   }

   .header__burger.active::before{
      transform: rotate(45deg);
      top: 8px;
   }

   .header__burger.active::after{
      transform: rotate(-45deg);
      bottom: 8px;
   }

   .header__burger.active span{
      display: none;
   }

   .header__menu.active{
      top: 0;
   }
}


.main-block {
   position: relative;

   &__body{
      padding: 184px 0px 191px 0px;
      position: relative;
      z-index: 2;
      max-width: 400px;
      @media (max-width:992px) {
         padding: 120px 0px 191px 0px;
      }
   }

   &__body > *:not(:last-child){
      margin: 0px 0px 35px 0px;
   }

   &__title {
      font-size: 58px;
      font-weight: 800;
      line-height: 80/58 * 100%;
      @media (max-width:992px) {
         font-size: 42px;
      }
   }

   &__text {
      color: #737373;
      font-size: 20px;
      line-height: 30/20 * 100%;
      @media (max-width:480px) {
         color: #2e2a2a;
      }
   }

   &__buttons {
      display: inline-flex;
      flex-wrap: wrap;
      margin: -10px 0px;
   }

   &__button {
      background: #FF7B47;
      border-radius: 37px;
      min-height: 48px;
      padding: 5px 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      letter-spacing: 0.2px;
      line-height: 28/14 * 100%;
      cursor: pointer;
      font-weight: 700;
      text-align: center;
      margin: 10px 0px;
      transition: all 0.3s ease 0s;
      @media (max-width:480px) {
         flex: 1 1 100%;
      }
   }

   &__button:hover{
      background: #fc4700;
   }

   &__button__transparent{
      background-color: transparent;
      border: 1px solid #0D5C63;
      color:#0D5C63 ;
   }

   &__button__transparent:hover{
      background: #10b1c0;
   }

   &__button:not(:last-child){
      @media (min-width:480px) {
         margin-right: 10px;
      }
   }

   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @media (max-width:992px) {
         opacity: 0.6;
      }
   }

   &__image img{
      @media (max-width:1300px) {
         object-position: right;
      }
   }
}

.page {

   &__services {
   }
}
.services {
   margin: -111px 0px 0px 0px;
   position: relative;
   z-index: 2;
   @media (max-width:992px) {
      margin: 30px 0px 0px 0px;
   }

   &__body {
      display: flex;
      margin: 0px -15px -30px;
      flex-wrap: wrap;
   }

   &__column {
      padding: 0px 15px;
      flex: 0 1 33.333%;
      margin: 0px 0px 30px 0px;
      @media (max-width:992px) {
         flex: 0 1 50%;
      }
      @media (max-width:575px) {
         flex: 0 1 100%;
         
      }
   }

   &__item {
      height: 100%;
      background: #FFFFFF;
      box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
      padding: 35px;
   }
}

.item-services {
   
   &__title {
      font-size: 24px;
      line-height: 32/24 * 100%;
      letter-spacing: 0.1px;
      font-weight: 700;
   }

   &__text {
      color: #737373;
      letter-spacing: 0.2px;
      line-height: 20/14 * 100%;
      font-weight: 500;
   }
}

.item-services > *:not(:last-child){
   margin: 0px 0px 10px 0px;
}

.item-services:hover{
   color: #fff;
   background: #0D5C63;
}

.item-services:hover .item-services__text{
   color: #fff;
}

.notebook__icon{
   width: 48px;
   height: 48px;
   fill: #0D5C63;
}

.icon__shop{
   width: 48px;
   height: 48px;
   fill: #0D5C63;
}

.tool-box{
   width: 48px;
   height: 48px;
   fill: #0D5C63;
}

.item-services:hover .notebook__icon{
   fill: #fff;
}

.item-services:hover .icon__shop{
   fill: #fff;
}

.item-services:hover .tool-box{
   fill: #fff;
}

@media (max-width:992px) {
   .services__column:last-child{
      flex: 0 1 100%;
   }
}

.advantages {

   &__header {
      margin: 106px 0px 50px 0px;
      @media (max-width:767px) {
         margin: 106px 0px 0px 0px;
      }
   }

   &__body {
      display: flex;
      margin: 0px -15px;
      flex-wrap: wrap;
   }

   &__column{
      padding: 15px;
      flex: 0 1 25%;
      @media (max-width:1020px) {
         flex: 0 1 50%;
      }
      @media (max-width:575px) {
         flex: 0 1 100%;
         
      }
   }

   &__item{
      background-color: #fff;
      padding: 30px;
      text-align: center;
   }

   &__icon {
      height: 48px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }

   &__value {
      font-size: 40px;
      line-height: 57/40 * 100%;
      font-weight: 700;
      margin: 10px 0px;
      letter-spacing: 0.2px;
   }

   &__text {
      color:#737373;
      font-size: 16px;
      line-height: 24/16 * 100%;
      letter-spacing: 0.1px;
      font-weight: 700;
      max-width: 169px;
      margin: 0px auto;
   }
}

.practice {
   padding: 125px 80px;
   @media (max-width:420px) {
      padding: 125px 20px;
   }

   &__header {
      margin: 0px 0px 45px 0px;
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -20px;
      @media (max-width:420px) {
         margin: 0px 0px;
      }
   }

   &__column {
      padding: 0px 20px;
      flex: 0 1 25%;
      @media (max-width:1040px) {
         flex: 0 1 50%;
         padding: 20px;
      }
      @media (max-width:590px) {
         flex: 0 1 100%;
         padding: 20px;
      }
      @media (max-width:420px) {
         padding: 20px 0px;
      }
   }

   &__item {
      background-color: #fff;
   }
}

.item__practice__link{
   display: inline-block;
}

.item__practice__link:hover{
   text-decoration: underline;
}

.item__practice__link:not(:last-child){
   margin: 0px 0px 15px 0px ;
}

.item__practice__title{
   font-size: 16px;
   line-height: 24/16 * 100%;
   font-weight: 700;
   letter-spacing: 0.1px;
   color:#252B42;
}

.item__practice__text{
   padding: 15px 0px;
   color: #737373;
   letter-spacing: 0.2px;
   font-weight: 500;
   font-size: 14px;
   line-height: 20/14 * 100%;
}

.item__practice__image{
   display: block;
   padding: 0px 0px 69% 0px;
   transition: all 0.3s ease 0s;
}

.item__practice__image:hover{
   opacity: 0.7;
}

.item__practice__content{
   padding: 30px;
   flex: 1 1 100%;
}

@media (max-width:590px) {
   .item__practice__content{
      text-align: center;
   }
}

.item__practice{
   display: flex;
   flex-direction: column;
   height: 100%;
}

.page {

   &__whoweare {
      background: #FFFFFF;
   }
}
.whoweare {
   padding: 80px 0px 130px 0px;
   @media (max-width:950px) {
      padding: 50px 0px 50px 0px;
   }

   &_title {
      font-weight: 800;
      font-size: 40px;
      line-height: 57/40 * 100%;
      letter-spacing: 0.2px;
      @media (max-width:950px) {
         font-size: 24px;
      }
   }

   &_title:not(:last-child){
      margin: 0px 0px 10px 0px;
   }

   &__body {
      display: flex;
      align-items: flex-start;
      @media (max-width:950px) {
         flex-direction: column-reverse;
         align-items: stretch;
      }
   }

   &__video {
      flex: 0 0 600/1046 * 100%;
      position: relative;
      padding: 0px 0px 42.25% 0px;
      @media (max-width:992px) {
         padding: 0px 0px 56% 0px;
      }
      @media (max-width:350px) {
         padding: 0px 0px 65% 0px;
      }
   }

   &__video:not(:last-child){
      margin: 50px 0px 0px 0px;
   }

   &__video iframe{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }

   &__content {
      flex: 1 1 auto;
      padding: 20px 0px 0px 121px;
      @media (max-width:1080px) {
         padding: 0px 0px 0px 50px;
      }
      @media (max-width:420px) {
         padding: 0px 0px 0px 10px;
      }
   }

   &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 20/14 * 100%;
      color: #737373;
      letter-spacing: 0.2px;
   }

   &__items {
      padding: 50px 0px 0px 0px;
   }

   &__item {
      display: flex;
   }
   &__item:not(:last-child){
      margin: 0px 0px 30px 0px;
   }
}

.practice {

   &__header {
      margin: 0px 0px 100px 0px;
      @media (max-width:950px) {
         margin: 0px 0px 30px 0px;
      }
   }
}

.item { 
   &__whoweare {
      &__icon{
         flex: 0 0 32px;
      }
      &__title{
         font-size: 16px;
         line-height: 24/16 * 100%;
         letter-spacing: 0.1px;
         font-weight: 800;
      }
      &__title:not(:last-child){
         margin: 0px 0px 5px 0px;
      }
      &__text{
         font-weight: 600;
         font-size: 14px;
         line-height: 24/14 * 100%;
         letter-spacing: 0.2px;
         color: #737373;
         
      }
   }
}

.item-whoweare__content{
   flex: 1 1 auto;
   padding: 0px 0px 0px 20px;
}


.clients {
   margin: 0px 0px 10px 0px;
   &__list {
      margin: 70px 0px;
      @media (max-width:700px) {
         margin: 20px 0px 20px 0px;
      }
   }

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width:870px) {
         flex-direction: column;
      }
   }
   &__item:not(:last-child){
      margin: 0px 0px 75px 0px;
   }
   &__item:last-child{
      align-self: flex-start;
      @media (max-width:870px) {
         align-self:center;
      }
   }
}

.subscribe {
   position: relative;
   padding: 0px 0px 20px 0px;
   &__body {
      position: relative;
      z-index: 2;
      padding: 30px 50px;
      align-items: center;
      background: #17213C;
      border-radius: 2px;
      @media (min-width:1070px) {
         margin: 0px 30px;
      }
      @media (min-width:810px) {
         display: flex;
         justify-content: space-between;
         
      }

      @media (max-width:810px){
         margin: 0px -15px;
         padding: 20px 20px;
      }
      @media (max-width:370px){
         padding: 20px 5px;
      }
   }

   &__title {
      flex: 0 1 50%;
      font-size: 24px;
      line-height: 32/24 * 100%;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      font-weight: 700;
      @media (max-width:810px) {
         margin: 0px 0px 20px 0px;
      }

      @media (min-width:810px) {
         max-width: 266px;
      }
   }

   &__form {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      @media (max-width:370px){
         flex: 0 1 250px;
      }
   }

   &__form:hover{
      border: 1px solid #ffd700;
      border-radius: 0px 5px 5px 0px;
   }

   &__input {
      flex: 1 1 auto;
      min-height: 58px;
      padding: 0px 20px;
      background: #F9F9F9;
      border: 1px solid #E6E6E6;
      color: #737373;
      @media (max-width:370px) {
         width: 100%;
      }
   }

   &__input:focus{
      color: #000;
   }

   &__button {
      background: #FF7B47;
      border: 1px solid #E6E6E6;
      border-radius: 0px 5px 5px 0px;
      display: flex;
      min-height: 58px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 28/14 * 100%;
      letter-spacing: 0.2px;
      font-weight: 400;
      color: #fff;
      padding: 0px 22px;
   }
   &__button:hover{
      background: #fc4700;
   }
}

.subscribe::before{
   content: '';
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 77px;
   left: 0;
   background: #252B42;
   z-index: 1;
}

@media (max-width:810px) {
   .subscribe::before{
      display: none;
   }
}

.get-in-touch {
   padding: 80px 0px 135px 0px;
   @media (max-width:660px) {
      padding: 80px 0px 65px 0px;
   } 
   &__body {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
   }
   &__item {
      margin: 0px 0px 0px 5px;
      @media (max-width:1006px) {
         margin: 0px 0px 20px 15px;    
      } 
      @media (max-width:470px) {
         margin: 0px 0px 20px 0px;  
      }   
      &__body {
         padding: 50px 0px 0px 0px;
         flex: 0 1 320px;
         text-align: center;
         height: 333px;
         background: #FFFFFF;
         cursor: pointer;
         @media (max-width:1006px) {
            background: #252B42;
            color: white;
         } 
         @media (max-width:470x) {
            height: 250px;
         }
      }

      &__body:hover{
         height: 393px;
         background: #252B42;
         color: white;
      }

      &__text {
         margin: -50px 0px 0px 0px;
         p:not(:last-child){
            padding: 0px 0px 10px 0px;
         }
      }

      &__text:hover{
         text-decoration: underline;
      }
      
      &__title {
         padding: 15px 0px;
         letter-spacing: 0.1px;
         font-weight: 700;
         font-size: 16px;
         line-height: 24/16 * 100%;
      }
      &__button {
         padding: 10px 20px;
         min-height: 44px;
         color:#FF7B47;
         font-weight: 600;
         line-height: 24/14 * 100%;
         border: 1px solid #FF7B47;
         border-radius: 5px;
         background-color: transparent;
         transition: all 0.3s ease 0s;
      }
      &__button:hover{
         background-color: #ff4800;
      }
   }
}

.get-in-touch__header{
   margin: 0px 0px 110px 0px;
}

@media (max-width:1006px) {
   .get-in-touch__header{
      margin: 0px 0px 70px 0px;
   }
} 

@media (max-width:660px) {
   .get-in-touch__header{
      margin: 0px 0px 30px 0px;
   }
} 

.get-in-touch__item__body:hover .get-in-touch__item__button{
   border: 1px solid #fff;
   color:#fff;
}



.phone {
   position: relative;
   left: 35%;
}
.geo {
   position: relative;
   left: 40%;
}
.telegram {
   position: relative;
   left: 35%;
}

.get-in-touch__item__body:hover svg *{
   fill: #fff;
}

.contact {
   background-color: white;
   padding: 142px 0px 42px 0px;
   @media (max-width:767px) {
      padding: 71px 0px 42px 0px;
   }

   @media (max-width:400px) {
      padding: 50px 0px 22px 0px;
   }
   &__body {
     @media (min-width:767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
     }
      
   }

   &__content{
      padding: 0px 20px;
      @media (max-width:345px) {
         padding: 0px 0px;
      }
   }

   &__title {
      letter-spacing: 0.1px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32/24 * 100%;
   }

   &__text {
      letter-spacing: 0.2px;
      color: #737373;
      padding: 10px 0px 0px 0px;
   }

   &__button {
      text-align: center;
      height: 58px;
      background: #FF7B47;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.2px;
      padding: 15px 40px;
      color: #FFFFFF;
      letter-spacing: 0.2px;
      font-weight: 700;
      line-height: 28/14 * 100%;
      transition: all 0.3s ease 0s;
      @media (max-width:767px) {
         margin: 15px 0px 0px 0px;
      }

      @media (max-width:400px) {
         margin: 25px 0px 0px 0px;
      }
   }
   &__button:hover{
      background: #ff4800;
   }
}






















